### Regularizatio:
it is risk mitigation technique used in machine learning to prevent overfitting by penalizing unnecessary complexity in model.
regularization put discipline in the model
### Ridge:
keep all features but reduce their powers
used in pricing model
### Lasso:
remove all useless feature completely
### Elastic net:
remove less and control the rest

In [2]:
# Importing essential lib
# we will use mpg dataset
""" 1miles=1.6 km
    1 gallom=3.7 ltr
 """
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display

In [ ]:
df=sns.load_dataset('mpg')
display(df.head(5))
df.drop('name', axis=1,inplace=True)
display(df.info())
# to check null value in any column
display(df.isna().sum())

# filling the null value with median
df['horsepower']=df['horsepower'].fillna(df['horsepower'].median())
#display(df.isna().sum())
display(df['origin'].value_counts())

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

None

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

origin
usa       249
japan      79
europe     70
Name: count, dtype: int64

In [ ]:
# Data encoding
df['origin']=df['origin'].map({1:"usa",2:"japan",3:"europe"})
display(df.head(5))
di

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,NaN
1,15.0,8,350.0,165.0,3693,11.5,70,NaN
2,18.0,8,318.0,150.0,3436,11.0,70,NaN
3,16.0,8,304.0,150.0,3433,12.0,70,NaN
4,17.0,8,302.0,140.0,3449,10.5,70,NaN