In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error,mean_absolute_percentage_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from IPython.display import display

In [6]:
# importing the data
from sklearn.datasets import load_diabetes
db=load_diabetes()
db.data
db.target
data=pd.DataFrame(db.data,columns=db.feature_names)
data['Target']=db.target
display(data.head(5))
# converting into dependent and independent variable
x=data.drop('Target',axis=1)
y=data['Target']
display(x.head(5))
display(y.head(5))

# train test split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)
display(x.shape)
display(x_train.shape)
LinearRegression()
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
acc=mean_absolute_percentage_error(y_test,y_pred)
print(f"the accuracy is {round(acc*100)}%")
mae=mean_absolute_error(y_test,y_pred)
print(f"mae is {mae}")

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
Name: Target, dtype: float64

(442, 10)

(331, 10)

the accuracy is 37%
mae is 41.54850685988059