In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# ------------------------------- CONVERTING OBJECT TO INT/FLOAT AS COLUMN SHOULD BE -------------------------------
df=pd.read_csv('kidney_disease.csv')
display(df.head(5))
display(df.columns)
df.drop('id',axis=1,inplace=True)
df.columns=[
'Age (years)',
'Blood Pressure (mm/Hg)',
'Specific Gravity (urine)',
'Albumin (urine)',
'Sugar (urine)',
'Red Blood Cells (urine)',
'Pus Cell (urine)',
'Pus Cell Clumps',
'Bacteria (urine)',
'Blood Glucose Random (mg/dL)',
'Blood Urea (mg/dL)',
'Serum Creatinine (mg/dL)',
'Sodium (mEq/L)',
'Potassium (mEq/L)',
'Hemoglobin (g/dL)',
'Packed Cell Volume (%)',
'White Blood Cell Count (cells/cumm)',
'Red Blood Cell Count (millions/cumm)',
'Hypertension',
'Diabetes Mellitus',
'Coronary Artery Disease',
'Appetite',
'Pedal Edema',
'Anemia',
'Chronic Kidney Disease Classification'
]
display(df.columns)
display(df.head(5))
display(df['Serum Creatinine (mg/dL)'].sort_values(ascending=False)[:10])
display(df.shape)
display(df.describe())
display(df.info())
display(df['Red Blood Cells (urine)'])
display(df['Pus Cell (urine)'])
display(df['Bacteria (urine)'])
display(df['Packed Cell Volume (%)'].unique())
df['Packed Cell Volume (%)']=pd.to_numeric(df['Packed Cell Volume (%)'],errors='coerce')
display(df['Packed Cell Volume (%)'].dtypes)
df['White Blood Cell Count (cells/cumm)']=pd.to_numeric(df['White Blood Cell Count (cells/cumm)'],errors='coerce')
df['Red Blood Cell Count (millions/cumm)']=pd.to_numeric(df['Red Blood Cell Count (millions/cumm)'],errors='coerce')

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

Index(['Age (years)', 'Blood Pressure (mm/Hg)', 'Specific Gravity (urine)',
       'Albumin (urine)', 'Sugar (urine)', 'Red Blood Cells (urine)',
       'Pus Cell (urine)', 'Pus Cell Clumps', 'Bacteria (urine)',
       'Blood Glucose Random (mg/dL)', 'Blood Urea (mg/dL)',
       'Serum Creatinine (mg/dL)', 'Sodium (mEq/L)', 'Potassium (mEq/L)',
       'Hemoglobin (g/dL)', 'Packed Cell Volume (%)',
       'White Blood Cell Count (cells/cumm)',
       'Red Blood Cell Count (millions/cumm)', 'Hypertension',
       'Diabetes Mellitus', 'Coronary Artery Disease', 'Appetite',
       'Pedal Edema', 'Anemia', 'Chronic Kidney Disease Classification'],
      dtype='object')

,Age (years),Blood Pressure (mm/Hg),Specific Gravity (urine),Albumin (urine),Sugar (urine),Red Blood Cells (urine),Pus Cell (urine),Pus Cell Clumps,Bacteria (urine),Blood Glucose Random (mg/dL),...,Packed Cell Volume (%),White Blood Cell Count (cells/cumm),Red Blood Cell Count (millions/cumm),Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edema,Anemia,Chronic Kidney Disease Classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

21     76.0
148    48.1
61     32.0
6      24.0
193    18.1
143    18.0
134    16.9
154    16.4
246    15.2
84     15.0
Name: Serum Creatinine (mg/dL), dtype: float64

(400, 25)

,Age (years),Blood Pressure (mm/Hg),Specific Gravity (urine),Albumin (urine),Sugar (urine),Blood Glucose Random (mg/dL),Blood Urea (mg/dL),Serum Creatinine (mg/dL),Sodium (mEq/L),Potassium (mEq/L),Hemoglobin (g/dL)
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Age (years)                            391 non-null    float64
 1   Blood Pressure (mm/Hg)                 388 non-null    float64
 2   Specific Gravity (urine)               353 non-null    float64
 3   Albumin (urine)                        354 non-null    float64
 4   Sugar (urine)                          351 non-null    float64
 5   Red Blood Cells (urine)                248 non-null    object
 6   Pus Cell (urine)                       335 non-null    object
 7   Pus Cell Clumps                        396 non-null    object
 8   Bacteria (urine)                       396 non-null    object
 9   Blood Glucose Random (mg/dL)           356 non-null    float64
 10  Blood Urea (mg/dL)                     381 non-null    float64
 11  Serum Creatinine (mg/dL)               383 non-null    float64
 12  Sodium (mEq/L)                         313 non-null    float64
 13  Potassium (mEq/L)                      312 non-null    float64
 14  Hemoglobin (g/dL)                      348 non-null    float64
 15  Packed Cell Volume (%)                 330 non-null    object
 16  White Blood Cell Count (cells/cumm)    295 non-null    object
 17  Red Blood Cell Count (millions/cumm)   270 non-null    object
 18  Hypertension                           398 non-null    object
 19  Diabetes Mellitus                      398 non-null    object
 20  Coronary Artery Disease                398 non-null    object
 21  Appetite                               399 non-null    object
 22  Pedal Edema                            399 non-null    object
 23  Anemia                                 399 non-null    object
 24  Chronic Kidney Disease Classification  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB

None

0         NaN
1         NaN
2      normal
3      normal
4      normal
        ...
395    normal
396    normal
397    normal
398    normal
399    normal
Name: Red Blood Cells (urine), Length: 400, dtype: object

0        normal
1        normal
2        normal
3      abnormal
4        normal
         ...
395      normal
396      normal
397      normal
398      normal
399      normal
Name: Pus Cell (urine), Length: 400, dtype: object

0      notpresent
1      notpresent
2      notpresent
3      notpresent
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: Bacteria (urine), Length: 400, dtype: object

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '\t?', '52',
       '14', '22', '18', '42', '17', '46', '23', '19', '25', '41', '26',
       '15', '21', '43', '20', '\t43', '47', '9', '49', '50', '53', '51',
       '54'], dtype=object)

dtype('float64')

(400, 25)

,Age (years),Blood Pressure (mm/Hg),Specific Gravity (urine),Albumin (urine),Sugar (urine),Blood Glucose Random (mg/dL),Blood Urea (mg/dL),Serum Creatinine (mg/dL),Sodium (mEq/L),Potassium (mEq/L),Hemoglobin (g/dL),Packed Cell Volume (%),White Blood Cell Count (cells/cumm),Red Blood Cell Count (millions/cumm)
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000,329.000000,294.000000,269.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587,8.990105,2944.474190,1.025323
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000,32.000000,6500.000000,3.900000
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000,40.000000,8000.000000,4.800000
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000,45.000000,9800.000000,5.400000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Age (years)                            391 non-null    float64
 1   Blood Pressure (mm/Hg)                 388 non-null    float64
 2   Specific Gravity (urine)               353 non-null    float64
 3   Albumin (urine)                        354 non-null    float64
 4   Sugar (urine)                          351 non-null    float64
 5   Red Blood Cells (urine)                248 non-null    object
 6   Pus Cell (urine)                       335 non-null    object
 7   Pus Cell Clumps                        396 non-null    object
 8   Bacteria (urine)                       396 non-null    object
 9   Blood Glucose Random (mg/dL)           356 non-null    float64
 10  Blood Urea (mg/dL)                     381 non-null    float64
 11  Serum Creatinine (mg/dL)               383 non-null    float64
 12  Sodium (mEq/L)                         313 non-null    float64
 13  Potassium (mEq/L)                      312 non-null    float64
 14  Hemoglobin (g/dL)                      348 non-null    float64
 15  Packed Cell Volume (%)                 329 non-null    float64
 16  White Blood Cell Count (cells/cumm)    294 non-null    float64
 17  Red Blood Cell Count (millions/cumm)   269 non-null    float64
 18  Hypertension                           398 non-null    object
 19  Diabetes Mellitus                      398 non-null    object
 20  Coronary Artery Disease                398 non-null    object
 21  Appetite                               399 non-null    object
 22  Pedal Edema                            399 non-null    object
 23  Anemia                                 399 non-null    object
 24  Chronic Kidney Disease Classification  400 non-null    object
dtypes: float64(14), object(11)
memory usage: 78.3+ KB

None

0         NaN
1         NaN
2      normal
3      normal
4      normal
        ...
395    normal
396    normal
397    normal
398    normal
399    normal
Name: Red Blood Cells (urine), Length: 400, dtype: object

0        normal
1        normal
2        normal
3      abnormal
4        normal
         ...
395      normal
396      normal
397      normal
398      normal
399      normal
Name: Pus Cell (urine), Length: 400, dtype: object

0      notpresent
1      notpresent
2      notpresent
3      notpresent
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: Bacteria (urine), Length: 400, dtype: object

array([44., 38., 31., 32., 35., 39., 36., 33., 29., 28., nan, 16., 24.,
       37., 30., 34., 40., 45., 27., 48., 52., 14., 22., 18., 42., 17.,
       46., 23., 19., 25., 41., 26., 15., 21., 43., 20., 47.,  9., 49.,
       50., 53., 51., 54.])

dtype('float64')