In [4]:
import pandas as pd 
# indexes in series:
#Pandas Data Structure: series indexing
df= pd.Series([5,6,25,12],index=["Abhishek","Ved","ankit","aditya"])
print(df)
# to access the value with index
print("Roll no of Ved: ", df["Ved"])
#to see all the index of the series:
print(df.index)
# to reset the index
df.reset_index(drop=True)
# to convert the series into data frame
pd.DataFrame(df)

Abhishek     5
Ved          6
ankit       25
aditya      12
dtype: int64
Roll no of Ved:  6
Index(['Abhishek', 'Ved', 'ankit', 'aditya'], dtype='object')

           0
Abhishek   5
Ved        6
ankit     25
aditya    12