In [ ]:
"""
Pandas is an open-source Python library designed for data manipulation
and analysis,widely used in data science.
pandas is collection of set of code that is used in data science.

"""

In [2]:
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)
print(type(s))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [1]:
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

df.resample('M').sum()         # Monthly resampling
df.rolling(window=3).mean()    # Rolling average

NameError: name 'pd' is not defined

In [ ]:
# Memory usage
df.info(memory_usage='deep')

# Display full DataFrame
pd.set_option('display.max_rows', None, 'display.max_columns', None)

# Sampling
df.sample(n=10, random_state=42)

In [2]:
import pandas as pd
def add_ratio(df):
    df['ratio'] = df['sales'] / df['expenses']
    return df

df = (df
      .pipe(add_ratio)
      .query('region == "North"')
      .assign(profit=lambda x: x.sales - x.expenses))

NameError: name 'df' is not defined

In [3]:
data = {
    'Name': ['Ved', 'Ayan', 'Ankit'],
    'Age': [21, 22, 23]
}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Ved   21
1   Ayan   22
2  Ankit   23

In [4]:
df['Name']          # Access column
df[['Name', 'Age']] # Multiple columns
df.iloc[0]          # Row by index
df.loc[0]           # Row by label (if labeled)
df[0:2]             # Row slice

   Name  Age
0   Ved   21
1  Ayan   22