In [1]:
import pandas as pd
# Pandas Advance : 
# to see content from the github 
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print(df)
print("-------------------------Breaking the line----------------------------\n")
print(df.columns)
print(df.head(3)) # this is for top 3 rows
print("-------------------------Breaking the line----------------------------\n")
# to see last some rows 
print(df.tail(4))
# for data types of the column
print(df.dtypes)
print("-------------------------Breaking the line----------------------------\n")
# another way to see the data type of the columns
print(df.info())
"""statistical information about numerical column"""
print(df.describe())

# five point summary:  min value, 25%,50%,75% and max value
""" subset of the data"""
print(df[["PassengerId","Survived","Pclass"]])
# in the dtypes the object is nothing but string data type , so in case if you want to see which column are string/object
df.dtypes=="object"

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
-------------------------Breaking the line----------------------------

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
-------------------------Breaking the line----------------------------

     PassengerId  Survived  Pclass                                      Name  \
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
-------------------------Breaking the line----------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
     PassengerId  Survived  Pclass
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

[891 rows x 3 columns]

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [15]:
# Pandas Advance : 

# if you only want those column name which are object

df.dtypes[df.dtypes=="object"]

# to get the specific column
print(df["PassengerId"])
print(df["Name"])


# categorical data
print(df.describe(include="object"))

""" for all numerical and categorical data in the same"""
print(df.describe(include="all"))

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
                           Name   Sex  Ticket Cabin Embarked
count                       891   891     891   204      889
unique                      891     2     681   147        3
top     Braund, Mr. Owen Harris  male  347082    G6        S
freq                          1   577       7     4      644
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN

In [2]:
# slicing method
""" to get the top rows"""
print(df[0:100]) # as we know this slicing
# skip some value
print(df[0:50:5])

""" modifying the column: like adding some by user"""
df["new_col"]="Life insurance"
print(df)

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
..          ...       ...     ...
95           96         0       3
96           97         0       1
97           98         1       1
98           99         1       2
99          100         0       2

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
..                                                ...     ...   ...    ...
95                        Shorney, Mr. Charles Joseph    male   NaN      0
96                          Goldschmidt, Mr. George B    male  71.0      0
97                    Greenfield, Mr. William Bertram    male  23.0      0
98               Doling, Mrs. John T (Ada Julia Bone)  female  34.0      0
99                                  Kantor, Mr. Sinai    male  34.0      1

    Parch            Ticket     Fare    Cabin Embarked
0       0         A/5 21171   7.2500      NaN        S
1       0          PC 17599  71.2833      C85        C
2       0  STON/O2. 3101282   7.9250      NaN        S
3       0            113803  53.1000     C123        S
4       0            373450   8.0500      NaN        S
..    ...               ...      ...      ...      ...
95      0            374910   8.0500      NaN        S
96      0          PC 17754  34.6542       A5        C
97      1          PC 17759  63.3583  D10 D12        C
98      1            231919  23.0000      NaN        S
99      0            244367  26.0000      NaN        S

[100 rows x 12 columns]
    PassengerId  Survived  Pclass  \
0             1         0       3
5             6         0       3
10           11         1       3
15           16         1       2
20           21         0       2
25           26         1       3
30           31         0       1
35           36         0       1
40           41         0       3
45           46         0       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
5                                    Moran, Mr. James    male   NaN      0
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
20                               Fynney, Mr. Joseph J    male  35.0      0
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
30                           Uruchurtu, Don. Manuel E    male  40.0      0
35                     Holverson, Mr. Alexander Oskar    male  42.0      1
40     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0      1
45                           Rogers, Mr. William John    male   NaN      0

    Parch           Ticket     Fare Cabin Embarked
0       0        A/5 21171   7.2500   NaN        S
5       0           330877   8.4583   NaN        Q
10      1          PP 9549  16.7000    G6        S
15      0           248706  16.0000   NaN        S
20      0           239865  26.0000   NaN        S
25      5           347077  31.3875   NaN        S
30      0         PC 17601  27.7208   NaN        C
35      0           113789  52.0000   NaN        S
40      0             7546   9.4750   NaN        S
45      0  S.C./A.4. 23567   8.0500   NaN        S
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked         new_col
0        0         A/5 21171   7.2500   NaN        S  Life insurance
1        0          PC 17599  71.2833   C85        C  Life insurance
2        0  STON/O2. 3101282   7.9250   NaN        S  Life insurance
3        0            113803  53.1000  C123        S  Life insurance
4        0            373450   8.0500   NaN        S  Life insurance
..     ...               ...      ...   ...      ...             ...
886      0            211536  13.0000   NaN        S  Life insurance
887      0            112053  30.0000   B42        S  Life insurance
888      2        W./C. 6607  23.4500   NaN        S  Life insurance
889      0            111369  30.0000  C148        C  Life insurance
890      0            370376   7.7500   NaN        Q  Life insurance

[891 rows x 13 columns]