In [1]:
# Pandas Advance V4: 
import pandas as pd
import numpy as np
from IPython.display import display

In [13]:
df=pd.DataFrame({ "description":["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed augue nec urna gravida luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel nisl at orci aliquet fermentum sit amet ut quam."]})
# display(df)

# here we can't see the whole text to resolve this issue we will use some pandas property that is : pd.set_option( )
pd.set_option('display.max_colwidth',1000) # the parameter is for charactor ( alphabets)

pd.set_option('display.max_rows',1000)
display(df)
df["char_len"]=df["description"].apply(lambda x : len(x))
display(df)

# how to count the lenth of the words in the sentence using lambda and split and len function
df["Word_count"]=df["description"].apply(lambda x: len(x.split()))
display(df)

data= { "text":["i am abhishek kushwaha ","domain is machine learning ","pandas advanve v4"]}
a=pd.DataFrame(data)
display(a)

# lets play with data frame 
# if you want to turn all the text in upper or lower case then
a=pd.DataFrame(a["text"].str.upper())
display(a)

# you can perform all the string operation on this
# display(a["text"].startswith("I")) this raise error because you did't specified the position 
display(a["text"][0].startswith("I"))

                                                                                                                                                                                                                                                    description
0  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed augue nec urna gravida luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel nisl at orci aliquet fermentum sit amet ut quam.

,description,char_len
0,"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed augue nec urna gravida luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel nisl at orci aliquet fermentum sit amet ut quam.",252

,description,char_len,Word_count
0,"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed augue nec urna gravida luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel nisl at orci aliquet fermentum sit amet ut quam.",252,39

                          text
0      i am abhishek kushwaha
1  domain is machine learning
2            pandas advanve v4

                          text
0      I AM ABHISHEK KUSHWAHA
1  DOMAIN IS MACHINE LEARNING
2            PANDAS ADVANVE V4

True