In [ ]:
#ASCII  ( American Standard Code for Information Interchange)

#uses: to represent the text in bit form. like whatever the system is the number of A is 65. that makes easy to communicate with the system.


print(ord("A"))

print(ord("Z"))

print(chr(122))

#in capital A to Z... 65-90
# in small a to z ...97-122

In [ ]:
#concatenation

str1= "ved"
str2= "suhani"
print(str1 +" "+"loves" + " "+ str2)

In [ ]:
# index in string

a ="ved"
print(a[1])

print(a[::-1]) #Reverse

In [ ]:
#index operation on strings

a= "ved prakash loves suhani , She is like flower soft addorable, beautiful , and most important filled with colors"
print(a[0:])# gives till last index
print(a[::-1])
b="sroloc htiw dellif tnatropmi tsom dna , lufituaeb ,elbarodda tfos rewolf ekil si ehS , inahus sevol hsakarp dev"
print(b[::-1])

In [ ]:
a= "Radha , She is like flower soft , beautiful , and most important filled with colors"
#start , end-1 , skip-1.......lets see

print(a[0:10:3])#till 9 character and skips 2 char
print(a[::1])#it will print all string from start to end

In [ ]:
#We can not change the string , cause its immutable but we can replace the string
a="asb dfh "
a=a.replace("asb","ved")
print(a)
#to print the text in the lower or upper case

b=a.upper()
print(b)

In [ ]:
#Searching in the string

a="hello my dear how are you"

# print("my" in a)
# print("love" in a)
print(("love" in a, "my"in a))# this is shortcut for both case to print

In [ ]:
#searching through if statement

text="jarvis don't leave me buddy"
search_text="jarvis"

if search_text in text:
    print("Yes")
else:
    print("No")

In [ ]:
#String comparison

a="v"
b="v"
print(a==b)
c="d"
e="D"
print(c==e)

In [ ]:
coupon_code="ved"
applied_code=input("enter the coupon code")

if applied_code == coupon_code:
    print("offer is applied")
else:
    print("no offer applied")

In [ ]:
#sorting of the string

A=["Abhishek", "Ved","Rahul"]

print(sorted(A))

In [ ]:
#to remove the extra space from the string
A="         ved          prakash   kushwaha"
print(A.strip()) #this removes only space from starting and ending

#to remove all the extra space just do it
A=" ".join(A.split())
print(A)

In [ ]:
#Escape character

# /t it is tab adds 4 space
table="Name\tAge\tGrade\nAbhishek\t22\tA+"
print(table)

In [ ]:
#String formatting

name= input("enter the name")
greetings=f"hello {name},how are i am going to you?"
print(greetings)

In [ ]:
a="ved prakash"
for i in a:
    print(i)